name: Cypress Tests with Allure

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  cypress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js (Cypress Supported)
        uses: actions/setup-node@v4
        with:
          node-version: 20
          browser: chrome
          headless: true
          record: true
          parallel: true

      - name: Install NPM dependencies
        run: npm ci

      - name: Verify Cypress
        run: npx cypress verify

      - name: Run Cypress tests (Allure enabled)
        run: npm run test:allure

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
